@page "/"
@using bVirtualization.Views.Components


<BVirtualizationComponent T=Student
						  DataSourceAsyncDelegate=RetrieveStudentsAsync>
	<div>
		@context.FirstName
	</div>
</BVirtualizationComponent>
